{"_id": "comp6-data", "definition": {"property-id": "tag:@,0000-00-00:property/comp6-data", "property-title": "cm5, hirdipole, hirshfeld, spindensities", "property-description": "Charges, dipoles, and spin densities", "cm5": {"type": "float", "has-unit": true, "extent": [":"], "required": true, "description": "CM5 atomic charges"}, "hirshfeld": {"type": "float", "has-unit": true, "extent": [":"], "required": true, "description": "Hirshfeld atomic charges"}, "hirdipole": {"type": "float", "has-unit": true, "extent": [":", 3], "required": true, "description": "Hirshfeld atomic dipoles"}}}