{"_id": "energy-forces-virial", "definition": {"property-id": "tag:@,0000-00-00:property/energy-forces-virial", "property-title": "A default property for storing energies, forces, and virial", "property-description": "Energies and forces computed using DFT", "energy": {"type": "float", "has-unit": true, "extent": [], "required": true, "description": "Cohesive energy"}, "forces": {"type": "float", "has-unit": true, "extent": [":", 3], "required": true, "description": "Atomic forces"}, "virial": {"type": "float", "has-unit": true, "extent": [6], "required": false, "description": "Virial stress"}}}